{%extends "base.html" %}

{% block title %} About {%endblock%}

{% block content %}




<div class="container my-5">
    <div class="row">
      <div class="col-lg-4">
        <h1>About Us</h1>
        <p>We are a team of passionate sports fans and journalists who are dedicated to providing the best coverage and analysis of the latest sports news and events from around the world.</p>
        <p>Our mission is to keep you informed and entertained with insightful articles, expert opinions, and engaging multimedia content.</p>
        <h2>Our Team</h2>
        <ul>
          <li><strong>Vaibhav Tiwari</strong> - Editor-in-Chief</li>
          <li><strong>Mike Johnson</strong> - Multimedia Producer</li>
          <li><strong>Sara Lee</strong> - Social Media Manager</li>
        </ul>
      </div>
      <div class="col-lg-8 text-end">
        <img src="../media/About.svg" class="img-fluid" alt=""> 
      </div>
    </div>
  </div>
  
        



{%endblock%}