<div class="footer-div">
<footer class="py-4 ">
    <div class="container c-f">
      <div class="row">
        <div class="col-md-6">
          <h5>About Us</h5>
          <p>SportWire Our team of journalists works around the clock to deliver breaking news and in-depth analysis on all the biggest games and events.</p>
        </div>
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>123 Main Street</li>
            <li>New York, NY 10001</li>
            <li>Phone: (555) 555-1234</li>
            <li>Email: info@SportsWire.com</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="/home"  style="text-decoration:none;color:#10d354; ">Home</a></li>
            <li><a href="/aboutus"  style="text-decoration:none ;color:#10d354;">About Us</a></li>
            <li><a href="/contact"  style="text-decoration:none;color:#10d354; ">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 SportsWire. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>